Citrina.Tests/
Citrina/bin/
Citrina/obj/
.sonarqube/
.vs/
src/Citrina.CallbackApi/bin/
src/Citrina.CallbackApi/obj/
src/Citrina.Uploader/bin/
src/Citrina.Uploader/obj/
src/Citrina/bin/
src/Citrina/obj/
src/Citrina.Tests.sln
